
body {
	background-color: rgb(160,160,160);
  	min-height: 95vh;
  	display: flex;
  	flex-direction: column;
	}

.leftcolumn {   
  float: left;
  width: 75%;
}

.rightcolumn {
  float: left;
  width: 25%;
  background-color: #f1f1f1;
  padding-left: 20px;
}

footer {
  margin-top: auto;
}


/*KUVIEN TYYLIT */

	img:hover {
 	opacity: 0.5;
	}

	img {
	max-width: 100%;
	height: auto;
	}

*/OTSIKOT */
	h1 {
	color: black;
	font-size:90px;	
	}

/*Alaviiva border */
	h3.solid {border-style: none none solid none;
	border-width: 2px; 
	border-color: black;	
	max-width: 62%;	}
	h2.solid {border-style: none none solid none;
	border-width: 2px; 
	border-color: black;	}


/*TEKSTIT*/
	p {
  	color: black;
	padding: 15px;
	text-align: justify;   <!-- Tasaa tekstin reunat -->
	}

	th {
	text-align:left;
	width:30%;
	height:30px;	
	}

	td	{
	width:40%;	}


/*LINKIT */
	a:link {
  	color: dark;
  	background-color: transparent;
  	text-decoration: none;	}

	a:visited {
  	color: black;
  	background-color: transparent;
  	text-decoration: none;	}

	a:hover {
  	color: black;
  	background-color: transparent;
 	 text-decoration: underline;	}


/*DIV BOXES*/
	.header {
	  background-color: #9933cc;
  	color: #ffffff;
  	padding: 55px;	}

	.div1 {
	width: 62%;
	float: center;	
	margin: 15px;	}

	.div3 {
	float: right;
	width: 20%;	
	min-width: 270px;
	margin-right: 20px;
	margin-top: 20px;}


/*TOP NAVIGATION BAR*/
/* Style the top navigation bar */
	.topnav {
 		overflow: hidden;
		background-color: #333;	}

/* Style the topnav links */
	.topnav a {
		float: left;
		display: block;
		color: #f2f2f2;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;	}

/* Change color on hover */
	.topnav a:hover {
		background-color: #f2f2f2;
		color: grey;	}


/*MITKÄ NÄÄ ON??/*
.koulutus {
	width: 50%;
	max-width: 500px;
	float: left;	}


.työkokemus {
	width: 50%;
	max width: 500px;
	}


/*BOTTOM LINK NAV*/
/* Style the bottom navigation bar */
	.botnav {
 		overflow: hidden;
		background-color: #333;		
		margin-left: auto;
		margin-right: auto;
		width: 20%; }

/* Style the botnav links */
	.botnav a {
		float: center;
		display: block;
		color: #f2f2f2;
		text-align: center;
		padding: 6px 10px;
		text-decoration: none;	}

/* Change color on hover */
	.botnav a:hover {
		background-color: #f2f2f2;
		color: grey;	}

	.alatunniste {
		float: center;
		width: 100%;
		height: 10%;
		text-align: center;	
		}


/* CHATBOX */
	.chatbox {
		overflow: hidden;
		background-color: #333;		
		margin-left: auto;
		margin-right: auto;
		text-align: right;
		position: relative;
		vertical-align:bottom;
		padding: 1%;
		maw-width:35%;
		min-width: 20%;
		}

	.chatbox a {
		float: center;
		display: block;
		color: #f2f2f2;
		text-align: center;
		padding: 6px 10px;
		text-decoration: none;	}

	.chatbox a:hover {
		background-color: #f2f2f2;
		color: grey;	}







<!-- LOGIN -->
	.modal {
	  display: none;
	  position: fixed; /* Stay in place */
	  z-index: 1; /* Sit on top */
	  left: 0;
	  top: 0;
	  width: 100%;
	  height: 100%;
	  overflow: auto; /* Enable scroll if needed */
	  background-color: rgb(0,0,0); /* Fallback color */
	  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	  padding-top: 60px;
}

/* Modal Content/Box */
	.modal-content {
 	 background-color: #fefefe;
 	 margin: 5px auto; /* 15% from the top and centered */
 	 border: 1px solid #888;
 	 width: 80%; 
}

/* The Close Button */
	.close {
 	 position: absolute;
 	 right: 25px;
 	 top: 0;
 	 color: #000;
  	font-size: 35px;
  	font-weight: bold;
}

/* Close button on hover */
	.close:hover,
	.close:focus {
 	 color: red;
  	cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}
